.el-table {
  z-index: 1;
}

.card-like {
  border: 1px solid #dadada;
  border-radius: 3px;
  margin: 3px;
  background-color: white;
  padding: 2px;
  height: auto;
  .title {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    color: rgb(13, 110, 253);
    border-bottom: 1px solid rgb(202, 202, 202);
    margin-bottom: 1px;
    padding: 2px;

    i {
      margin-right: 5px;
    }
  }
}

.custom-tabs-head,
.custom-tabs-head-large {

  .nav-item {
    button {
      font-size: 16px;
      font-weight: bold;
    }

    .nav-link {
      color: rgb(90, 90, 90);
    }

    .nav-link.active {
      color: rgb(13, 110, 253);
    }
  }
}

.custom-tabs-head-large {
  .nav-item {
    button {
      font-size: 20px;
    }
  }
}

.copy-icon {
  cursor: pointer;
  margin-inline: 5px;
}

.full-sweetalert{
  // background: red;
  height: 100vh;
  width: 100vw;
  .swal2-icon{
    position: relative;
    top: 30%;
    font-size: 37px;
  }
  .swal2-title{
    font-size: 60px;
  }
  .swal2-actions{
    display: flex;   
    position: relative;
    bottom: 60%;
    font-size: 40px;
  }
}

.el-tabs__header{
  margin:0;
}

.el-upload {
  width: 64px;
  /* 设置宽度为100px，您可以根据需要进行调整 */
  height: 64px;
  /* 设置高度为100px，您可以根据需要进行调整 */
}

.el-tabs--border-card {
  .el-tabs__content{
    font-size: 12px;
    padding: 1px;
    // background: red;
    height: 100%;
  }
}

.ol-zoom{
  width: 40px;
  position: absolute;
  display:  flex;
  flex-direction: column;
  z-index: -1;
  padding: 10px;
  button{
    opacity: .7;
    font-size: 26px;
    width: 35px;
    border-radius: 3px;
    margin:2px;
    border: 1px solid grey;
    background-color: white;
    font-weight: bolder;
  }
  button:hover{
    opacity: 1;
    background-color: rgb(13, 110, 253);
    color: white;
  }
  button:active{
    background-color: grey;
    color: white;
  }
}

.ol-rotate{
  visibility: hidden;
}


.my-nav {
  width: 160px;
  margin-left: 16px;
  padding: 5px;
}
.my-nav-tabs {
  // background: pink;
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(170, 170, 170);
  height: 100vh;

}


.my-el-table-row-class{
}
.my-el-table-cell-class{
  color:black;
  background-color: rgb(13, 110, 253);
}