:root {
  --charge-button-normal-color: green;
  --charge-button-deep-charge-raising-color: orange;
  --map-rack-port-cargo-exist-color: rgb(0, 255, 64);
  --map-rack-port-display-width: 20px;
  --map-rack-port-display-height: 20px;
}
@font-face {
  font-family: 'DigitalFont';
  src: url('@/assets/fonts/DS-DIGIT.TTF');
}

.digital-font-charger-station {
  font-family: 'DigitalFont';
  font-size: 35px;
  margin-right: 10px;
  font-weight: bold;
}

.digital-font-unit-charger-station {
  font-size: 14px;
  margin-left: 5px;

}

.el-table {
  z-index: 1;
}

.card-like {
  border: 1px solid #dadada;
  border-radius: 3px;
  margin: 3px;
  background-color: white;
  padding: 2px;
  height: auto;
  .title {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    color: rgb(13, 110, 253);
    border-bottom: 1px solid rgb(202, 202, 202);
    margin-bottom: 1px;
    padding: 2px;

    i {
      margin-right: 5px;
    }
  }
}

.custom-tabs-head,
.custom-tabs-head-large {

  .nav-item {
    button {
      font-size: 16px;
      font-weight: bold;
    }

    .nav-link {
      color: rgb(90, 90, 90);
    }

    .nav-link.active {
      color: rgb(13, 110, 253);
    }
  }
}

.custom-tabs-head-large {
  .nav-item {
    button {
      font-size: 20px;
    }
  }
}

.copy-icon {
  cursor: pointer;
  margin-inline: 5px;
}

.top-most-sweetalert{
  z-index: 99999;
}

.full-sweetalert{
  // background: red;
  height: 100vh;
  width: 100vw;
  .swal2-icon{
    position: relative;
    top: 30%;
    font-size: 37px;
  }
  .swal2-title{
    font-size: 60px;
  }
  .swal2-actions{
    display: flex;   
    position: relative;
    bottom: 60%;
    font-size: 40px;
  }
}

.el-tabs__header{
  margin:0;
}

.el-upload {
  width: 64px;
  /* 设置宽度为100px，您可以根据需要进行调整 */
  height: 64px;
  /* 设置高度为100px，您可以根据需要进行调整 */
}

.el-tabs--border-card {
  .el-tabs__content{
    font-size: 12px;
    padding: 1px;
    // background: red;
    height: 100%;
  }
}

.ol-zoom{
  width: 40px;
  position: absolute;
  display:  flex;
  flex-direction: column;
  z-index: -1;
  padding: 10px;
  button{
    opacity: .7;
    font-size: 26px;
    width: 35px;
    border-radius: 3px;
    margin:2px;
    border: 1px solid grey;
    background-color: white;
    color:black;
    font-weight: bolder;
  }
  button:hover{
    opacity: 1;
    background-color: rgb(13, 110, 253);
    color: white;
  }
  button:active{
    background-color: grey;
    color: white;
  }
}

.ol-rotate{
  visibility: hidden;
}


.my-nav {
  width: 160px;
  margin-left: 16px;
  padding: 5px;
}
.my-nav-tabs {
  // background: pink;
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(170, 170, 170);
  height: 100vh;

}

.my-el-table-cell-class{
  color:black;
  background-color: rgb(13, 110, 253);
}

.swal-transfer-info{
  // color:red;
  div{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    label{
      margin-left: 2%;
      font-size: 24px;
      width: 90px;
      // background-color: green;
      text-align: left;
      padding-top: 6px;
    }
    span{
      font-size: 26px;
      text-decoration: underline;
      color:rgb(13, 110, 253);
      font-weight: bold;
    }
    span:hover{
      cursor: pointer;
    }
  }
}
.my-actions {
  button{
    font-size: 44px;
  }
}

.dispatch-fail-swal{
  width: 45rem !important;
}
.swal2-title{
  font-size: 36px !important;
}
.swal2-html-container{
  font-size:26px !important;
}
.swal2-actions  {
  display: flex;
  flex-direction: row !important;
  width: 100% !important;
  font-size: 32px ;
  button{
    width: 100% !important;
  }
}

.map-right-click-menu{
  width: 100%;
  font-size: 18px;
  display: flex;
  flex-direction: column;

  button{
    color:black;
    width: 180px;
    margin-block:1px;
    border-radius: 4px;
    border: 1px solid rgb(87, 87, 87);
  }
  button:hover{
    background-color: rgb(13, 110, 253);
    color:white;
  }
}

.map-elplus-message-style{
  font-size: 31px;
  font-weight: bold;
  letter-spacing: 2px;
}